@model ML.Producto
@{
    ViewBag.Title = "ComprarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/form/formulario.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<h2>Producto seleccionado</h2>
<hr />
@if (Model.IdProducto == 0)
{
<div class="alert alert-danger" role="alert">
    No hay producto seleccionado.
</div>
}
else
{

    <div class="container">
        @*<form id="contact">*@
            @using (Html.BeginForm("ComprarProducto", "Producto", FormMethod.Post,new {enctype="multipart/form-data",@id="contact" }))
            {
            <h3>Producto Seleccionado</h3>
            <fieldset>
                <input placeholder="Nombre Completo" type="text" id="txtNombre" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Valor del billete" id="txtMonto" type="text" tabindex="2" required autofocus>
                @*<div id="Monedas"></div>
                <input type="button" class="btn btn-info" id="contact-submit" value="Agregar" />*@
                @*<input type="button" class="btn btn-info" id="contact-submit" onclick="Capturar(); mostrarMonedas();" value="Agregar" />*@
            </fieldset>
            <fieldset>
                @Html.TextBoxFor(Model => Model.Nombre, new { @tabindex = "3",@readonly="readonly" })
            </fieldset>
            <fieldset>
                @Html.TextBoxFor(Model => Model.Precio, new { @tabindex = "4", @readonly = "readonly", @id="txtPrecio"})
            </fieldset>
            <fieldset>
                @Html.TextBoxFor(Model => Model.TipoProducto, new { @tabindex = "5", @readonly = "readonly" })
            </fieldset>

            <fieldset>
                <input type="submit" class="btn btn-info" id="contact-submit" value="Calcular"/>
               
            </fieldset>
            }
        @*</form>*@
    </div>
}
<script>
    var suma = 0;
    //var cambioUno = 10;
    //var cambioDos = 50;
    //var cambioTres = 100;
    var lstMonedas = [];

    function Capturar() {
        var monto = parseInt(document.getElementById("txtMonto").value);
        lstMonedas.push(monto);
        var actual = parseInt(document.getElementById("monedasIngresadas").value);
        actual += monto;
        Swal.fire({
            title: "<i>Moneda Registrada</i>",
            html: "Valor:" + "<b>" + monto + "</b>",
            confirmButtonText: "<u>Continuar.</u>",
        });
    }
    function mostrarMonedas() {
        var contenidoMonedas = document.getElementById("txtMonto");
        for (var i = 0; i < lstMonedas.length; i++) {
            contenidoMonedas = monedas;
            var monedas = document.getElementById('Monedas').innerHTML = "Monedas: " + (i + 1) + ": " + lstMonedas[i] + '<br>';
        }
    }
    //function CalcularCambio() {

    //    lstMonedas.forEach(function (a) {
    //        suma += parseInt(a);
    //    });

    //    var nombre = document.getElementById("txtNombre").value;
    //    var precio = document.getElementById("txtPrecio").value;
    //    var cambio = 0;
    //    monedasCajero.forEach(function (monedasCajero) {
    //        var valoresDisponible = monedasCajero;
    //        var cantidadMonedas = Math.min(suma / monedasCajero, valoresDisponible);

    //        if (cantidadMonedas > 0) {
    //            monedasCajero += cantidadMonedas;
    //            suma -= cantidadMonedas * monedasCajero;
    //            monedasCajero -= cantidadMonedas;
    //        } else {
    //            Swal.fire({
    //                title: "<i>Falta más monto " + nombre + "</i>",
    //                html: "Monto Insuficiente:" + suma + "<b> El precio del producto es: " + precio + "</b>",
    //                confirmButtonText: "<u>Continuar.</u>",
    //            });
    //        }
            
    //    });

        
    //}
    
    
</script>
